<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>

<div>
    <p><a href="addquote">Dodaj kwotowanie</a></p>
    <table class="dynamic-table">
        <thead class="dynamic-table-header">
        <tr>
            <th>Data</th>
            <th>Kwotowanie</th>
        </tr>
        </thead>
        <tbody class="dynamic-table-body">

        <% table.forEach((entry) => { %>
            <tr>
                <td><%= entry.quoteDate %></td>
                <td><%= entry.quoteValue %></td>
            </tr>
        <% }); %>
        </tbody>
    </table>
</div>
</body>
</html>
